.btn-blue {
padding: 5px 3px;
border-radius: 20px;
background-color: #F9F5EB;
color: #FFD966;
font-size: 23px;
font-weight: bold;
font-family: 'Arial', serif;
text-decoration: none;
display: inline-block;
transition: all 0.3s ease;
margin-right: 10px;
margin-left: 10px;
}

.btn-bluehover {
	color: white;
}